<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.date_picker :date, min: Date.today - 4.days, max: Date.today + 4.days %>
    <% if @event.date.present? %>
    <code><%= @event.date.to_s %></code>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.datetime_picker :datetime, min: DateTime.now - 4.days, max: DateTime.now + 4.days  %>
    <% if @event.datetime.present? %>
    <code><%= @event.datetime.to_s %></code>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.time_picker :time %>
    <% if @event.time.present? %>
    <code><%= @event.time.to_s %></code>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
